extends ../public/common.pug

block bootstrap
	if errors
		each error in errors
			.alert.alert-danger= error
	h1 Login
	form(action="/auth" method="POST")
		label(for="email") Email:
		input#email.form-control(type="email" name="email")
		br
		label(for="password") Password:
		input#password.form-control(type="password" name="password")
		br
		button(class="btn btn-primary") Login