extends ../../public/common.pug

block bootstrap
	a(href="/users/create") New
	form(action="/users/search" method="GET")
		input.form-control(type="text" name="q")
		button.btn(style="background-color:#1BD1FF") Search
	table.table
		tr
			th Image
			th Name
			th Phone
			th Action

		each val in users
			tr
				td
					img(src="/"+val.path alt="No find")
				td= val.name
				td= val.phone
				td
					a.btn.btn-primary(href="/view/"+val.id) View