extends ../../public/common.pug

block bootstrap
	h1 Tranfer money
	form(action="/tranfer" method="POST" enctype="multipart/form-data")
		label(for="user") User:
		input#name.form-control(type="text" name="user")
		br
		label(for="amount") Amount:
		input#phone.form-control(type="amount" name="mount")
		br
		button(class="btn btn-primary") Tranfer
	